extends layout.pug
block content
  .container.pt-5.text-center
    h1 Stuffs
  .row.pt-3
    .col-lg-12.bg-black.pt-3.pb-2
      h2
        a(href="/coiffes") Coiffes
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/capes") Capes
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/bottes") Bottes
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/anneaux") Anneaux
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/amulettes") Amulette
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/cac") CAC
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/ceintures") Ceinture
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/familiers") Familier
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/montures") Monture
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/dofus") Dofus
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/trophees") Trophée
    .col-lg-12.bg-black.pt-2.pb-2
      h2
        a(href="/boucliers") Bouclier
